.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 10px;
}

.footer {
  justify-content: center;
}

.navbar-option {
  color: blue;
}
